<!DOCTYPE html>
<html lang="ar" dir="rtl">
<%- include("./partials/head.ejs") %>



<body>
  <%- include("./partials/nav.ejs") %>

    <!--========================== END OF NAVBAR ============================-->
    <header>
        <div class="container header__container" dir="ltr">
            <div class="header__left box-left animate__animated animate__fadeInLeft ">
                <h1 >Physics_For_All_ Secondary_Stages</h1>
                <p style="font-size: 1.4rem; font-family: Righteous; "> 
                    Your_Online_Videos_Are_Now _Hereeeee
                                </p>
                <a href="login" class="btn btn-primary box-left ">Log In </a>
            </div>
            <div class="header__right  box-right  animate__animated  animate__fadeInRight">
                <div class="bubbles ">
                    <span class="bub a "> <img src="/images/electric-generator.png"  alt="DNA"></span>
                    <span class="bub b "> <img src="/images/electric-motor.png" style="border-radius: 55%; width: 50px; " alt="logo"></span>
                    <span class="bub c "> <img src="/images/atomic-energy.png" alt="book"></span>
                </div>
                <div class="header__right-image">
                    <img src="/images/Logo-01.png"  >
                </div>
            </div>
        </div>
    </header>



<main>
    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left box-right">
                <h1> اماكن تواجدنا</h1>
                <p>
                    يمكنك من هنا التعرف علي جميع مواعيد دكتور احمد عمر او يمكنك الحجز اون لاين عن طريق الحجز الالكتروني
                </p>
                <a href="Register" class="btn info "> حجز الكتروني </a>
            </div>

            <div class="categories__right ">
                <article class="category box-left" >
                    <!-- <span class="category__icon">
                        <i class="uil uil-dna"></i>
                    </span> -->
                    <h3>القناطر الخيريه <span style="display: block;"></span></h3>
                  
                    <!-- <ul class="teachers-info">
                       <h4>الاول الثانوي  </h4>
                        <li style="font-weight: bolder; margin-top: 0.5rem;"> الاحد 6:00pm </li>
                        <li style="font-weight: bolder; margin-bottom: 0.3rem;">الخميس 3:30pm</li>
                        <h4>الثاني الثانوي  </h4>
                        <li style="font-weight: bolder; margin-top: 0.5rem; ">الأحد 4:00pm</li>
                        <li style="font-weight: bolder; ">الخميس 5:30pm</li>
                    </ul> -->
                </article>
                
                <article class="category box-left">
                    <!-- <span class="category__icon">
                        <i class="uil uil-dna"></i>
                    </span> -->
                    <h3 class="mx-auto">قليوب <span style="display: block;  "></span></h3>

                    <!-- <ul class="teachers-info">
                        <h4>الاول الثانوي  </h4>
                        <li style="font-weight: bolder; margin: 0.5rem auto; "> الاثنين 5:30pm </li>
                        <h4>الثاني الثانوي  </h4>
                        <li style="font-weight: bolder; margin-top: 0.5rem;"> الاثنين 3:30pm </li>
                    </ul> -->
                </article>
                <article class="category box-left">
                    <!-- <span class="category__icon">
                        <i class="uil uil-dna"></i>
                    </span> -->
                    <h3>الجيزه <span style="display: block; "></span></h3>

                    <!-- <ul class="teachers-info">
                        <h4>الاول الثانوي  </h4>
                        <li style="font-weight: bolder; margin: 0.5rem auto; "> الاثنين 5:30pm </li>
                        <h4>الثاني الثانوي  </h4>
                        <li style="font-weight: bolder; margin-top: 0.5rem;"> الاثنين 3:30pm </li>
                    </ul> -->
                </article>
<!--  -->
            </div>
        </div>
    </section>

    <!--====================== END OF CATEGORIES =====================-->


     <!--========================== END OF TEAM ============================-->
    
    


</main>

<%- include("./partials/footer.ejs") %>




<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.0.5/swiper-bundle.min.js" integrity="sha512-cEcJcdNCHLm3YSMAwsI/NeHFqfgNQvO0C27zkPuYZbYjhKlS9+kqO5hZ9YltQ4GaTDpePDQ2SrEk8gHUVaqxig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>




</body>

</html>
